/* sheared for font style */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;500;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* header section */
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-header{
    font-size: 2rem;
}
nav > ul{
    display: flex;
}
nav li{
    color: #424242;
    list-style: none;
    padding-right:40px ;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
}
/* banner section */
.banner-title{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.h1-head{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.title-paragraph{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.btn-sction{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.banner-container img{
    width: 100%;
}

/* main section */
.section-1{
    display: flex;
    align-items: center;
    margin:100px 200px;

}
.photo-sction{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.title-section{
    max-width: 450px;
    padding-left: 90px;
}
.section-1-title{
    font-size: 45px;
    font-weight: 700;

}
.sec-1-para{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.sec-1-span{
    color: #727272;
    font-weight: 400;
}
.sec-1-span-2{
    color: #FF900E;
    font-weight: 700;
}
/* section-2 */
.section-2{
    margin: 0px 150px;
    display: flex;
}
.title{
    font-size: 38px;
    border-left: 3px solid #FF900E;
    padding-left: 20px;
}
.features-title{
    margin-right:30px ;
}
.box{
    margin-bottom: 20px;
    margin-right: 100px;
    padding: 5px 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.section-2-img img{
    padding-left: 20px;
    height: 70%;
}
.ten-year{
    position: relative;
    bottom: 200px;
    right: 40px;
    margin: 0px;
    text-align: center;
    color: #FFF;
    border-radius: 8px;
    background: #FF900E;
    width: 300px;
    height: 200px
}
.ten-tag{
    padding: 30px;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}
.para{
    margin: 0;
    font-size: 25px;
    font-weight: 400;
}
/* facts-container */
.facts-container{
   /* max-width: 700px; */
   margin-left: 230px;
}
.sec-2-para{
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    padding-right: 70px;
}
/* facts-section */
.facts-section{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    text-align: center
    
}
.facts-1{
    border: 3px solid#FF900E;
    padding: 20px;
    border-radius: 5px;
}
/* Our Sponspors */
.our-tag{
    padding-top: 30px;
    text-align: center;
}
.our-description{
    text-align: center;
    padding: 0 575px;
}
.our-img-card{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
/* footer section */
footer{

    border-radius: 8px;
    background: #FFF4E7;
    width: 1000px;
    height: 70px;
    margin: 200px auto;
}
.footer-section{
    text-align: center;
    padding-top: 11px;
    
}








/* responsive header */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column
    }
    header{
        padding: 30px 50px;
    }
    
}
/* medium devise */
@media screen and (min-width:576px) and (max-width:990px){
    nav{
        flex-direction: column;
    }
    header{
        padding: 30px 50px;
    }
}
/* section-1  responsive */
@media screen and (max-width:576px) {
    .photo-sction{
        display: flex;
        flex-direction: column;

    }
    .section-1{
        flex-direction: column-reverse;
        margin: 20px;
    }
    .title-section{
        padding: 10px;
    }
}
@media screen and (min-width:576px) and (max-width:990px){
    .section-1{
        flex-direction: column-reverse;
        margin: 20px;
    }
    .title-section{
        padding:0px;
    }
}
/* section-2 */
@media screen and (max-width:576px) {
    .section-2{
        flex-direction: column;
        margin: 10px;
    }
    .section-2-img img{
        padding: 0px;
        width: 100%;
    }
    .box{
        margin: 0px 0px 20px 0px;
    }
    .ten-year{
        position:relative;
        bottom: 0px;
        right: 0px;
        margin: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:976px){
    .section-2{
        flex-direction: column;
        margin: 70px;
    }
}
/* facts-section responsive*/
@media screen and (max-width:576px) {
    .facts-section{
        flex-direction: column;
    }
    .facts-container{
        margin: 10px;
    }
    .title-or-description{
        text-align: center;
    }
    .sec-2-para{
        padding: 0;
    }
    .facts-1{
        margin-bottom: 10px;
    }
}
/* Our Sponspors */
@media screen and (max-width:576px) {
    .our-img-card{
        flex-direction: column;
        align-items: center;
    }
    .card{
        padding-bottom: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:990px){
    .our-description {
        padding: 0;
    }
    .facts-container {
       margin: 0;
    }
}
/* footer */
@media screen and (max-width:576px) {
    footer{
        width: 400px ;
    }
    
}
@media screen and (min-width:576px) and (max-width:990px){
    footer{
        width: 750px;
    }
}